@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter','Geologica',sans-serif;
  background-color: #0B0B0B;
  color: white;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
}

.text_gray_495 {
  color: #D5D5D5;
}

.slide-track {
  animation: 15s linear infinite scroll;

}

.team-slider {
  animation: 40s linear infinite scroll;

}

@keyframes scroll {
  0% {
    transform: translate(0)
  }

  100% {
    transform: translateX(-1150px)
  }
}

@media(max-width:575px) {
  .container {
    padding: 0 24px;
  }

  .header-btn {
    display: none;
  }

  .process-cards::before {
    display: none;
  }
}

@media(min-width: 576px) and (max-width: 991px) {
  .container {
    padding: 0 40px;
  }

  .process-cards::before {
    display: none;
  }
}

/* 
.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #2E3000;
  color: #42db87;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #2E3000;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
} */

.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}

.process-cards::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  left: 29px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.20) 86.27%, rgba(255, 255, 255, 0.00) 88.15%);

}


.home-video {
  max-height: calc(100vh - 88px);
}

/* .above-glow{
  position: relative;
  z-index: 99;
} */

.blogs-section {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url(assets/images/trending-sec-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.service-link::after {
  content: "";
  background: transparent;
  display: block;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 100%;
  left: 0;

}




.whatsapp-glow {
  position: absolute;
  top: 55px;
  width: 60px;
  height: 60px;
  background: #2e3000;
  /* soft yellow */
  border-radius: 9999px;
  opacity: 0.4;
  animation: waveGlow 2s ease-out infinite;
  z-index: -1;
}

@keyframes waveGlow {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  70% {
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}